/* This file will hold styles for the mobile version of your website (mobile first). */

/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/* text colors */
$mainText: #ffffff;
$mainLink: #59a3d9;
$inputText: #b1b1b1;
$searchBlue: #216599;

/*materialTheme*/
$Red: #FF5370;
$Pink: #f07178;
$Orange: #F78C6C;
$Yellow: #FFCB6B;
$Green: #C3E88D;
$PaleBlue: #B2CCD6;
$Cyan: #89DDFF;
$Blue: #82AAFF;
$Purple: #C792EA;
$Violet: #bb80b3;
$Brown: #ab7967;
$Red2: #E53935;
$Pink2: #FF5370;
$Orange2: #F76D47;
$Yellow2: #FFB62C;
$Green2: #91B859;
$PaleBlue2: #8796B0;
$Cyan2: #39ADB5;
$Blue2: #6182B8;
$Purple2: #7C4DFF;
$Violet2: #945EB8;

/* background colors */
$darkInput: #20232c;
$darkerInput: #191c26;
$lightSection: #ffffff;
$header: #272b34;
$header2: #2c303a;


/*Institutional Colors*/
$unoColor: #003056;
$latechColor: #003087;

/* variables */
$headerHeight: 60px;

/* mixins */
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin gradientFirst() {
  background: -moz-linear-gradient(top, #3e4352 0%, #272b34 100%);
  background: -webkit-linear-gradient(top, #3e4352 0%,#272b34 100%);
  background: linear-gradient(to bottom, #3e4352 0%,#272b34 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e4352', endColorstr='#272b34',GradientType=0 );
}

@mixin gradientImage(){
    background-image: url(http://i.imgur.com/PuUOH7M.png);
    background-size: contain;
}


@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}
/* web fonts */
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Roboto:100,300,400,600,700';

/* global styles */
body {
  font-family: roboto;
}
a:link, a:visited {
  color: $mainLink;
  text-decoration: none;
}

button:focus, button:active, input:focus, input:active, select:focus, select:active, textarea:focus, textarea:active {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    z-index: 1;
}

.fp-bg {
  filter: blur(0px);
  transition: filter 2s linear;
  transition-property: filter;
}

.about-link{
  display:none;
}


#region-content {
  background: black!important;
  }

  .not-front .region-content-inner{
    button, input[type="reset"], input[type="submit"], input[type="button"] {
    -webkit-appearance: none;
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    border-radius: 3px;
    background: #c7c7c7;
    border: 1px solid;
    cursor: pointer;
    color: #333;
    font: bold 12px/12px Roboto, sans-serif;
    outline: 0px;
    overflow: visible;
    padding: 5px 20px 6px;
    text-shadow: none;
    width: auto;
    height: 35px;
    }


  }
#region-content .fp-bg {
  background-image: url('https://images.unsplash.com/45/tkLOe7nnQ7mnMsiuijBy_hm.jpg');
  background-size: cover;
  background-position: center 80%;
}
#region-footer-first .fp-bg {
  background-image: none;
  background: $lightSection;
  background-size: cover;
  background-position: center 80%;
}

.blurred{
    filter: brightness(.35) blur(2px);
}

div#messages {
    z-index: 3;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 17%;
    position: absolute;
}

div.error, table tr.error {
    background-image: none;
    background-color: rgba(41, 36, 36, 0.85);
    margin-left: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    color: #cec7c7;
    border-color: $Red2;
}

div.messages ul {
    margin: 0px;
    padding: 20px;
}

div.messages ul li {
    list-style-type: none;
}

.messages{
  position: relative;
}

.messages::after{
    content: 'CLOSE';
    bottom: 0px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 59px;
    font-size: 15px;
    color: white;
    background: #E53935;
    letter-spacing: 1px;
    cursor: pointer;
}

.fp-tableCell {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1, h2, h3, h4, h5, h6 {
  letter-spacing: -0.05em;
  font-family: Roboto;
}
#fullpage, #fullpage > div {
  width: 100%;
}

#fullpage > div.section {
  padding-top: 100px;
}
#region-content, #region-footer-first, #messages {
  margin: 0px;
  display: flex;
}
.region-inner.region-content-inner {
  position: relative;
  margin: 40px;
  color: $mainText;
    padding: 1px 1px 1px 1px;
    background: #3e4352;
    background-image: url(http://i.imgur.com/PuUOH7M.png);
    background-size: contain;
    -webkit-box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.7);
    box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.7);

  textarea, select, input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] {
      -webkit-appearance: none;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -moz-background-clip: padding;
      -webkit-background-clip: padding;
      background-clip: padding-box;
      background-color: #20232c;
      border: 0px;
      color: #b1b1b1;
      outline: 0;
      padding: 0px 12px 0px 12px;
      font-size: 13px;
      font-family: Arial, sans-serif;
      height: 35px;
  }  
}
.front .region-inner.region-content-inner {
  width: 370px;
}
h1#page-title {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    padding: 17px 16px 16px 16px;
    border-bottom: 1px solid rgba(132, 132, 132, 0.21);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.67);
    margin: 0px;
    width: 100%;
    box-sizing: border-box;
    left: 0px;
    font-weight: 300;
    background: #3e4352;

}
aside {
  display: none;
}
.fp-tableCell {
  display: flex;
  align-items: center;
  justify-content: center;
}
#fullpage .reveal {
  transform: translateY(-200px);
  opacity: 0;
  transition: opacity 1s, transform 1s;
}
#fullpage .active .reveal {
  transform: translateY(0px);
  opacity: 1;
}
.blur {
  filter: blur(5px) brightness(0.46);
  transition: filter 2s linear;
  transition-property: filter;
}

#fp-nav {
    position: absolute;
    z-index: 40;
    top: 240px;
    cursor: pointer;
    display: flex;
    left: 50px;
}

span.islandora-basic-collection-item-count {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    color: #b1b1b1;
    min-width: 30px;
    border: 1px solid #777777;
    overflow: hidden;
    padding-left: 4px;
    margin: -10px 10px -10px -7px;
}

.islandora-solr-breadcrumb-super {
    display: none;
}/*removes (x) in breadcrumb */

.inline li, .tabs li, .breadcrumb li {
    list-style: none;
    display: inline;
    margin-right: 0px;
}

/*parent metadata currently hidden because it is subject to change*/
.parent-collections {
    position: absolute;
    top: calc(100% + 1px);
    padding: 10px 10px 10px 20px;
    left: 0px;
    background: #282b34;
    width: 100%;
    height: 50px;
    display: none;
h2 {
    font-size: 12px;
    margin: 0px;
}    
}

/*loading*/
section#block-block-11 {
    width: 100%;
    height: 100vh;
    background: $header2;
    position: absolute;
    z-index: 2;
    color: white;
} 

@keyframes spin {
    0% { transform: rotate(0deg); }
    5% { transform: rotate(360deg); }
}

/*global header styles */

.logo-img{
  margin-right:14px;
  margin-left: 20px;  
}

#block-delta-blocks-logo .content.clearfix {
    display: flex;
    align-items: center;
}

div#block-delta-blocks-site-name {
    width: 220px;
    align-items: center;
    display: flex;
    height: $headerHeight;

}

h2.site-name {
    font-size: 16px;
}

h2.site-name a {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
}

#section-header {
  position: absolute;
  background: $header;
  z-index: 2;
  width: 100%;
  top: 0px;
}
.region-inner.region-header-first-inner {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: $headerHeight;
}
#zone-header, #zone-footer {
  display: flex;
  width: 100%;
}

#zone-header{
  flex-direction: column;
}

.site-name {
  margin-top: 0px;
}
h2.site-name {
  font-size: 16px;
}
div#region-header-first {
  width: 100%;
    margin: 0px;  
}

div#region-header-second {
    width: 100%;
    margin: 0px;
    display: flex;
    background: $header2;
    height: 40px;
    align-items: center;
    #breadcrumb {
        .breadcrumb {
            padding-bottom: 0px;
            margin-bottom: 0px;

        li.first a {
            padding-left: 20px;
        }            
        }    
        a {
            padding: 12px;
            text-transform: uppercase;
            font-size: 11px;
            letter-spacing: 2px;
            color: #b1b1b1;            
        }
        a:hover {
            background: #3e4352;
        }        
        .last a {
            color: $Pink;
        }
    }
}  

/* front page styles */

.front {
  .advSearch_link {
    position: relative;
    top: -10px;
    left: 35px;
}

#block-system-main {
  display: none;
}
}


#block-islandora-solr-simple label:first-child, #block-islandora-solr-simple2 label:first-child  {
  display: none;
}

#block-islandora-solr-simple{
    border-radius: 5px;
    overflow: hidden;

textarea, select, input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] {
    -webkit-appearance: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    background-color: #191c26;
    border: 0px;
    color: #000;
    outline: 0;
    font-size: 13px;
    font-family: Arial, sans-serif;
    height: 45px;
    width: 20vw;
    color: #b1b1b1;
    padding-left: 10px;
    }  
    button, input[type="reset"], input[type="submit"], input[type="button"] {
        -webkit-appearance: none;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        background-clip: padding-box;
        border-radius: 0px;
        border: 0px;
        /* border-color: #ddd #bbb #999; */
        cursor: pointer;
        color: #b1b1b1;
        font: inherit;
        background: #191c26;
        outline: 0;
        overflow: visible;
        padding: 3px 10px 4px;
        height: 45px;
        text-shadow: none;
        width: auto;
        position: relative;
        right: 5px;
        top: 0px;
    background-image: url(http://i.imgur.com/zBCP7zk.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
    width: 50px;        
    border-radius: 0px 5px 5px 0px;    
color: transparent;    
    }

}
#region-content .largeLogo {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  div#edit-simple {
    display: flex;
    flex-direction: column;
  }
  img {
    width: 80px;
    height: auto;
    padding: 40px;
    filter: grayscale(1);
  }
  button, input[type="reset"], input[type="submit"], input[type="button"] {
      -webkit-appearance: none;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-background-clip: padding;
      -webkit-background-clip: padding;
      background-clip: padding-box;
      border-radius: 5px;
      background: $searchBlue;
      border: 0px;
      cursor: pointer;
      color: #fff;
      font: bold 12px Roboto, sans-serif;
      letter-spacing: 2px;
      outline: 0;
      overflow: visible;
      padding: 12px 10px 14px;
      text-shadow: none;
      width: auto;
      text-transform: uppercase;
  }
  input#edit-islandora-simple-search-query {
    background: #20232c;
    border: none;
    height: 40px;
    color: $inputText;
    font-size: 12px;
    padding: 10px;
    width: 300px;
  }
  input#edit-islandora-simple-search-query:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    z-index: 1;
    background: $darkerInput;
  }
  .advSearch_link {
    align-self: flex-start;
    margin-left: 15px;
    margin-top: 8px;
  }
}

/*navigation*/

#block-system-navigation {
    position: absolute;
    right: -207px;
    z-index: 2;
    width: 200px;
    top: 0px;

    li {
        background: rgba(0, 0, 0, 0);
        margin: 1px;
        padding: 9px;
        border-left: 10px solid rgba(255, 255, 255, 0.33);
        a {
                color: white;
        }           
    }

    li.active-trail, li.active {
        border-left: 10px solid $Yellow;
    } 

    h2{
      display: none;
    } 
}

/* Main forms */
.form-item.form-type-textfield.form-item-solrLimit {
    position: relative;
    label {
      position: absolute;
      width: 130px;
      top: -18px;
}
}

/* Advanced Search Styles */

.block-advanced{
  h2.block-title{
    display:none;
  }
  .block-inner.clearfix {
      padding: 10px 10px 10px 10px;
  }
}



/*Institutional Branding*/
 .reveal section#block-block-14 {
    position: absolute;
    height: 100%;
    transform: translateX(-126px);
  -webkit-transition-duration: .3s; /* Safari */
    transition-duration: .3s;
 }

section#block-block-14 {
  display: none;
  z-index: -1;
  h2.block-title{
     display:none;
  }    
}


.unoTheme{
  .islandora-basic-collection-grid.clearfix {
  background: #272b34;
  }
  section#block-block-14 {
  display: block;
  position: absolute;
  height: 100%;
  left: 0px;
  background: $unoColor;
  top: 0px;
  width: 126px;
  border-radius: 10px 0px 0px 10px;
  @include box-shadow(-10px, 0px, 60px, rgba(0, 0, 0, 0.49), true);
  background-image: url('http://i.imgur.com/RWmzrPG.png');
  background-repeat: no-repeat;  
  background-position: center;   
  }
}

.latechTheme{
  @extend .unoTheme;
  section#block-block-14 {
  background: $latechColor;  
  background-size: 50px auto;
  background-image: url('http://grfx.cstv.com/schoolslt/latc/graphics/logos/latc-state-t.gif');
  background-repeat: no-repeat;  
  background-position: center;     
  }  

}

/*End Institutional Branding*/

/* Repository styles */



.item-list .pager {
    position: absolute;
    margin: 0;
    padding: 0;
    font-size: 10px;
    text-align: left;
    bottom: -30px;
    width: calc(100% - 2px);
    left: 0px;
}

.pager li.pager-first a, .pager li.pager-previous a, .pager li.pager-next a, .pager li.pager-last a {
    width: 80px;
  }

img.blurredBG {
    min-width: 100%;
    position: absolute;
    filter: blur(7px) brightness(0.35);
    min-height: 100%;
    top: 0px;
}

.islandora-basic-collection-grid.clearfix {
    display: flex;
    flex-wrap: wrap;
    max-width: 805px;
    dl.islandora-basic-collection-object {
    display: flex;
    width: calc(25% - 2px);
    margin: 1px;
    min-height: 0px;
    height: auto;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    }

    dl.islandora-basic-collection-object:hover {   
      dt.islandora-basic-collection-thumb{
      filter: brightness(1);
      transition-duration: 0s;     
      }    
      dd.islandora-basic-collection-caption a {    
      opacity: 0;
    }
}


    dd.islandora-basic-collection-caption a {
    color: #ffffff;
    font-style: normal;
    letter-spacing: 2px;
    font-size: 12px;
    line-height: 13px;
    }

    dt.islandora-basic-collection-thumb {
    margin: 0px;
    z-index: 1;
    width: 200px;
    height: 110px;
    overflow: hidden;
    filter: brightness(0.46);
    transition-duration: .5s;        
    }


    .islandora-basic-collection-object dt img {
    border-radius: 0px;
    height: auto;
    width: 200px;    
    }    

    .islandora-basic-collection-object dd {
    padding: 10px;
    position: absolute;
    max-width: 200px;
    z-index: 2;
    top: 0px;
    }    
}



#block-system-main span.islandora-basic-collection-display-switch {
    position: absolute;
    top: 60px;
    right: 0px;
    display: none;
}

.islandora-basic-collection-list-item{
  img{
    display: none;
  }
}


/* Documentation styles */
h2.node-title, h2.node-title a {
    font-size: 15px;
    margin: 10px 0px 0px 0px;
    color: white;
    letter-spacing: 1px;
}

/* logged-in styles */

.logged-in{
  #section-header {
    top: 67px;
  }
}


.tabs{
  ul.tabs.primary.clearfix {
      position: absolute;
      top: -30px;
      border: none;
      right: -5px;
      padding-left: 2px;
      border-radius: 15px 0px 0px 0px;
  }
  ul.primary li.active a {
      background-color: #313542;
      color: white;
      border: 0px;
      border-bottom: 1px solid #333844;
  }
  ul.primary li a {
      background-color: #3e4352;
      border-color: #bbb;
      border-style: solid solid none solid;
      border-width: 1px;
      height: auto;
      color: #b1b1b1;
      padding: 1px;
      border: 0px;
      border-bottom: 1px solid #333844;
      margin-right: 0px;
      padding: 0 1em;
      padding: 8px 32px;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 11px;
  }
  ul.primary li a:hover {  
    color: white;
  }
}
/* desktop-only styles */
#block-block-10 {
  display: none;
}


/*Large Image View Styles*/
body.no-sidebars .islandora-large-image-content {
    width: 100%;
}

.islandora-large-image-content {
    background-color: none;
    border: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    padding: 0px;
}

.largeImage .region-inner.region-content-inner{
      width: 100%;
    margin: 0px 260px 0px 260px;
}

a#clip {
    margin-left: 5px;
    position: absolute;
    top: 18px;
    right: 20px;
    background: #f07178;
    color: #191c26;
    padding: 1px 5px 1px 5px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 11px;
}