/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/* text colors */
/* background colors */
/* mixins */
/* web fonts */
@import "https://fonts.googleapis.com/css?family=Open+Sans|Roboto:100,300,400,600,700";
/* global styles */
body {
  font-family: roboto;
}

a:link, a:visited {
  color: #59a3d9;
  text-decoration: none;
}

.fp-bg {
  filter: blur(0px);
  transition: filter 2s linear;
  transition-property: filter;
}

#region-content {
  background: black !important;
}

#region-content .fp-bg {
  background-image: url("https://images.unsplash.com/45/tkLOe7nnQ7mnMsiuijBy_hm.jpg");
  background-size: cover;
  background-position: center 80%;
}

#region-footer-first .fp-bg {
  background-image: none;
  background: #ffffff;
  background-size: cover;
  background-position: center 80%;
}

#messages .fp-tableCell {
  background-image: url("http://i.imgur.com/aimlCzK.jpg");
  background-size: cover;
  background-position: center 80%;
}

.fp-tableCell {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: -0.05em;
  font-family: Roboto;
}

#fullpage, #fullpage > div {
  width: 100%;
}

#region-content, #region-footer-first, #messages {
  margin: 0px;
  display: flex;
}

.region-inner.region-content-inner {
  position: relative;
  opacity: 0;
  margin: 10px;
  color: #ffffff;
  padding: 100px;
  overflow: hidden;
  background: #3e4352;
  background-image: url(http://i.imgur.com/PuUOH7M.png);
  background-size: contain;
  -webkit-box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.7);
  box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.7);
}
.region-inner.region-content-inner textarea, .region-inner.region-content-inner select, .region-inner.region-content-inner input[type="date"], .region-inner.region-content-inner input[type="datetime"], .region-inner.region-content-inner input[type="datetime-local"], .region-inner.region-content-inner input[type="email"], .region-inner.region-content-inner input[type="month"], .region-inner.region-content-inner input[type="number"], .region-inner.region-content-inner input[type="password"], .region-inner.region-content-inner input[type="search"], .region-inner.region-content-inner input[type="tel"], .region-inner.region-content-inner input[type="text"], .region-inner.region-content-inner input[type="time"], .region-inner.region-content-inner input[type="url"], .region-inner.region-content-inner input[type="week"] {
  -webkit-appearance: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  background-color: #20232c;
  border: 0px;
  color: #b1b1b1;
  outline: 0;
  padding: 0px 12px 0px 12px;
  font-size: 13px;
  font-family: Arial, sans-serif;
  height: 35px;
}

.front .region-inner.region-content-inner {
  width: 370px;
  padding: 50px 20px 20px 20px;
}

h1#page-title {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  display: flex;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid rgba(132, 132, 132, 0.21);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.67);
  margin: 0px;
  width: calc(100% + 7px);
  position: absolute;
  top: 0px;
  left: 0px;
  font-weight: 300;
}

aside {
  display: none;
}

.fp-tableCell {
  display: flex;
  align-items: center;
  justify-content: center;
}

#fullpage .reveal {
  transform: translateY(-200px);
  opacity: 0;
  transition: opacity 1s, transform 1s;
}

#fullpage .active .reveal {
  transform: translateY(0px);
  opacity: 1;
}

.blur {
  filter: blur(5px);
  transition: filter 2s linear;
  transition-property: filter;
}

#fp-nav {
  position: absolute;
  z-index: 40;
  top: 150px;
  cursor: pointer;
  display: flex;
  left: 0px;
}

/*global header styles */
header {
  height: 30px;
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  z-index: 2;
  width: 100%;
  top: 0px;
}

.region-inner.region-header-first-inner {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 30px;
}

#zone-header, #zone-footer {
  display: flex;
  width: 100%;
}

.site-name {
  margin-top: 0px;
}

h2.site-name {
  font-size: 16px;
}

div#region-header-first {
  width: 100%;
}

.breadcrumb {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

/* front page styles */
.front #block-system-main {
  display: none;
}

#block-islandora-solr-simple label:first-child {
  display: none;
}

.largeLogo {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}
.largeLogo div#edit-simple {
  display: flex;
  flex-direction: column;
}
.largeLogo img {
  width: 80px;
  height: auto;
  padding: 40px;
  filter: grayscale(1);
}
.largeLogo button, .largeLogo input[type="reset"], .largeLogo input[type="submit"], .largeLogo input[type="button"] {
  -webkit-appearance: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  border-radius: 5px;
  background: #216599;
  border: 0px;
  cursor: pointer;
  color: #fff;
  font: bold 12px Roboto, sans-serif;
  letter-spacing: 2px;
  outline: 0;
  overflow: visible;
  padding: 12px 10px 14px;
  text-shadow: none;
  width: auto;
  text-transform: uppercase;
}
.largeLogo input#edit-islandora-simple-search-query {
  background: #20232c;
  border: none;
  height: 40px;
  color: #b1b1b1;
  font-size: 12px;
  padding: 10px;
  width: 300px;
}
.largeLogo input#edit-islandora-simple-search-query:focus {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  z-index: 1;
  background: #191c26;
}
.largeLogo .advSearch_link {
  align-self: flex-start;
  margin-left: 15px;
  margin-top: 8px;
}

/* Main forms */
.form-item.form-type-textfield.form-item-solrLimit {
  position: relative;
}
.form-item.form-type-textfield.form-item-solrLimit label {
  position: absolute;
  width: 130px;
  top: -18px;
}

dl.islandora-basic-collection-object {
  display: flex;
  width: 220px;
  justify-content: center;
  align-items: center;
  margin: 12px;
}

#block-system-navigation {
    position: absolute;
    left: -160px;
    background: black;
    z-index: 2;
}

/* Repository styles */
dd.islandora-basic-collection-caption a {
  color: white;
  font-style: normal;
  letter-spacing: 1px;
  font-size: 14px;
}

dl.islandora-basic-collection-object {
  display: flex;
  width: 260px;
  justify-content: center;
  align-items: center;
  margin: 12px;
}

.islandora-basic-collection-grid.clearfix {
  display: flex;
}

#block-system-main span.islandora-basic-collection-display-switch {
  position: absolute;
  top: 60px;
  right: 0px;
}

.islandora-basic-collection-list-item img {
  display: none;
}

/* logged-in styles */
.logged-in header {
  top: 67px;
}

/* desktop-only styles */
#block-block-10 {
  display: none;
}
