/* This file will hold styles for the mobile version of your website (mobile first). */

/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/* text colors */
$mainText: #ffffff;
$mainLink: #59a3d9;
$inputText: #b1b1b1;
$searchBlue: #216599;

/*materialTheme*/
$Red: #FF5370;
$Pink: #f07178;
$Orange: #F78C6C;
$Yellow: #FFCB6B;
$Green: #C3E88D;
$PaleBlue: #B2CCD6;
$Cyan: #89DDFF;
$Blue: #82AAFF;
$Purple: #C792EA;
$Violet: #bb80b3;
$Brown: #ab7967;
$Red2: #E53935;
$Pink2: #FF5370;
$Orange2: #F76D47;
$Yellow2: #FFB62C;
$Green2: #91B859;
$PaleBlue2: #8796B0;
$Cyan2: #39ADB5;
$Blue2: #6182B8;
$Purple2: #7C4DFF;
$Violet2: #945EB8;

/* background colors */
$darkInput: #20232c;
$darkerInput: #191c26;
$lightSection: #ffffff;
$header: rgba(0, 0, 0, 0.8);

/* variables */
$headerHeight: 60px;

/* mixins */
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin gradientFirst() {
  background: -moz-linear-gradient(top, #3e4352 0%, #272b34 100%);
  background: -webkit-linear-gradient(top, #3e4352 0%,#272b34 100%);
  background: linear-gradient(to bottom, #3e4352 0%,#272b34 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e4352', endColorstr='#272b34',GradientType=0 );
}

@mixin gradientImage(){
    background-image: url(http://i.imgur.com/PuUOH7M.png);
    background-size: contain;
}


@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}
/* web fonts */
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Roboto:100,300,400,600,700';

/* global styles */
body {
  font-family: roboto;
}
a:link, a:visited {
  color: $mainLink;
  text-decoration: none;
}
.fp-bg {
  filter: blur(0px);
  transition: filter 2s linear;
  transition-property: filter;
}
#region-content {
  background: black!important;
  }

  .not-front .region-content-inner{
    button, input[type="reset"], input[type="submit"], input[type="button"] {
    -webkit-appearance: none;
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    border-radius: 3px;
    background: #FF5370;
    border: 1px solid;
    cursor: pointer;
    color: #333;
    font: bold 12px/12px Roboto, sans-serif;
    outline: 0px;
    overflow: visible;
    padding: 5px 20px 6px;
    text-shadow: none;
    width: auto;
    height: 35px;
    }
  }
#region-content .fp-bg {
  background-image: url('https://images.unsplash.com/45/tkLOe7nnQ7mnMsiuijBy_hm.jpg');
  background-size: cover;
  background-position: center 80%;
}
#region-footer-first .fp-bg {
  background-image: none;
  background: $lightSection;
  background-size: cover;
  background-position: center 80%;
}

.blurred{
    filter: brightness(.6) blur(2px);
}

div#messages {
    z-index: 3;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 17%;
    position: absolute;
}

div.error, table tr.error {
    background-image: none;
    background-color: rgba(41, 36, 36, 0.85);
    margin-left: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    color: #cec7c7;
    border-color: $Red2;
}

div.messages ul {
    margin: 0px;
    padding: 20px;
}

div.messages ul li {
    list-style-type: none;
}

.messages{
  position: relative;
}

.messages::after{
    content: 'CLOSE';
    bottom: 0px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 59px;
    font-size: 15px;
    color: white;
    background: #E53935;
    letter-spacing: 1px;
    cursor: pointer;
}

.fp-tableCell {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1, h2, h3, h4, h5, h6 {
  letter-spacing: -0.05em;
  font-family: Roboto;
}
#fullpage, #fullpage > div {
  width: 100%;
}
#region-content, #region-footer-first, #messages {
  margin: 0px;
  display: flex;
}
.region-inner.region-content-inner {
  position: relative;
  opacity: 0;
  margin: 40px;
  color: $mainText;
  padding: 100px;
  background: #3e4352;
  @include gradientImage();
  @include box-shadow(16px, 16px, 16px, rgba(0, 0, 0, 0.7));

  textarea, select, input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] {
      -webkit-appearance: none;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -moz-background-clip: padding;
      -webkit-background-clip: padding;
      background-clip: padding-box;
      background-color: #20232c;
      border: 0px;
      color: #b1b1b1;
      outline: 0;
      padding: 0px 12px 0px 12px;
      font-size: 13px;
      font-family: Arial, sans-serif;
      height: 35px;
  }  
}
.front .region-inner.region-content-inner {
  width: 370px;
  padding: 50px 20px 20px 20px;
}
h1#page-title {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    display: flex;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid rgba(132, 132, 132, 0.21);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.67);
    margin: 0px;
    width: 100%;
    position: absolute;
    top: 0px;
    box-sizing: border-box;
    left: 0px;
    font-weight: 300;
}
aside {
  display: none;
}
.fp-tableCell {
  display: flex;
  align-items: center;
  justify-content: center;
}
#fullpage .reveal {
  transform: translateY(-200px);
  opacity: 0;
  transition: opacity 1s, transform 1s;
}
#fullpage .active .reveal {
  transform: translateY(0px);
  opacity: 1;
}
.blur {
  filter: blur(5px);
  transition: filter 2s linear;
  transition-property: filter;
}

#fp-nav {
    position: absolute;
    z-index: 40;
    top: 150px;
    cursor: pointer;
    display: flex;
    left: 0px;
}

span.islandora-basic-collection-item-count {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    color: #b1b1b1;
    min-width: 30px;
    border: 1px solid #777777;
    overflow: hidden;
    padding-left: 4px;
    margin: -10px 10px -10px -7px;
}

.islandora-solr-breadcrumb-super {
    display: none;
}/*removes (x) in breadcrumb */

.inline li, .tabs li, .breadcrumb li {
    list-style: none;
    display: inline;
    margin-right: 0px;
}



/*loading*/
section#block-block-11 {
    width: 100%;
    height: 100vh;
    background: #272b34;
    position: absolute;
    z-index: 2;
    color: white;
} 
/*global header styles */

.logo-img{
  margin-right:14px;
}

#block-delta-blocks-logo .content.clearfix {
    display: flex;
    align-items: center;
}

#block-delta-blocks-logo{
      opacity: 0.7;
}

#block-delta-blocks-logo:hover{
      opacity: 1;
}

div#block-delta-blocks-site-name {
    width: 220px;
    align-items: center;
    display: flex;
    height: $headerHeight;

}

h2.site-name {
    font-size: 16px;
}

h2.site-name a {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
}

#section-header {
  height: $headerHeight;
  position: absolute;
  background: $header;
  z-index: 2;
  width: 100%;
  top: 0px;
}
.region-inner.region-header-first-inner {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: $headerHeight;
}
#zone-header, #zone-footer {
  display: flex;
  width: 100%;
}
.site-name {
  margin-top: 0px;
}
h2.site-name {
  font-size: 16px;
}
div#region-header-first {
  width: 100%;
}
.breadcrumb {
  padding-bottom: 0px;
  margin-bottom: 0px;
    letter-spacing: 1px;  
}

.breadcrumb li {
    padding: 2px 20px 2px 10px;
    background: #1f1f1f;
    border-radius: 12px;
    text-transform: uppercase;
    font-size: 12px;
    margin-right: -15px;
    letter-spacing: 1px;    
}

.breadcrumb li.last a {
    color: white;
}

/* front page styles */
.front #block-system-main {
  display: none;
}
#block-islandora-solr-simple label:first-child {
  display: none;
}
#region-content .largeLogo {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  div#edit-simple {
    display: flex;
    flex-direction: column;
  }
  img {
    width: 80px;
    height: auto;
    padding: 40px;
    filter: grayscale(1);
  }
  button, input[type="reset"], input[type="submit"], input[type="button"] {
      -webkit-appearance: none;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-background-clip: padding;
      -webkit-background-clip: padding;
      background-clip: padding-box;
      border-radius: 5px;
      background: $searchBlue;
      border: 0px;
      cursor: pointer;
      color: #fff;
      font: bold 12px Roboto, sans-serif;
      letter-spacing: 2px;
      outline: 0;
      overflow: visible;
      padding: 12px 10px 14px;
      text-shadow: none;
      width: auto;
      text-transform: uppercase;
  }
  input#edit-islandora-simple-search-query {
    background: #20232c;
    border: none;
    height: 40px;
    color: $inputText;
    font-size: 12px;
    padding: 10px;
    width: 300px;
  }
  input#edit-islandora-simple-search-query:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    z-index: 1;
    background: $darkerInput;
  }
  .advSearch_link {
    align-self: flex-start;
    margin-left: 15px;
    margin-top: 8px;
  }
}

#block-system-navigation {
    position: absolute;
    left: -160px;
    background: black;
    z-index: 2;

    h2{
      display: none;
    }
}

/* Main forms */
.form-item.form-type-textfield.form-item-solrLimit {
    position: relative;
    label {
      position: absolute;
      width: 130px;
      top: -18px;
}
}

dl.islandora-basic-collection-object{
    display: flex;
    width: 220px;
    justify-content: center;
    align-items: center;
    margin: 12px;
}

/* Repository styles */

.islandora-basic-collection-thumb{
    width: 90px;
    height: auto;  
}

.islandora-basic-collection-thumb, .islandora-basic-collection-caption{
opacity: 0.7;
}

.islandora-basic-collection-thumb:hover,.islandora-basic-collection-caption:hover{
  opacity: 1;
}

dd.islandora-basic-collection-caption a {
    color: white;
    font-style: normal;
    letter-spacing: 1px;
    font-size: 14px;
}

dl.islandora-basic-collection-object {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px;
}

.islandora-basic-collection-grid.clearfix {
    display: flex;
    flex-wrap: wrap;
}

#block-system-main span.islandora-basic-collection-display-switch {
    position: absolute;
    top: 60px;
    right: 0px;
}

.islandora-basic-collection-list-item{
  img{
    display: none;
  }
}


/* Documentation styles */
h2.node-title, h2.node-title a {
    font-size: 15px;
    margin: 10px 0px 0px 0px;
    color: white;
    letter-spacing: 1px;
}

/* logged-in styles */

.logged-in{
  #section-header {
    top: 67px;
  }
}


.tabs{
  ul.tabs.primary.clearfix {
      position: absolute;
      top: -30px;
      border: none;
      right: -6px;
      padding-left: 2px;
      border-radius: 15px 0px 0px 0px;
  }
  ul.primary li.active a {
      background-color: #313542;
      color: white;
      border: 0px;
      border-bottom: 1px solid #333844;
  }
  ul.primary li a {
      background-color: #3e4352;
      border-color: #bbb;
      border-style: solid solid none solid;
      border-width: 1px;
      height: auto;
      color: #b1b1b1;
      padding: 1px;
      border: 0px;
      border-bottom: 1px solid #333844;
      margin-right: 0px;
      padding: 0 1em;
      padding: 8px 32px;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 11px;
  }
  ul.primary li a:hover {  
    color: white;
  }
}
/* desktop-only styles */
#block-block-10 {
  display: none;
}
